h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 1em;
}

.list
{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: bisque;
    border-radius: 1em;
    font-size: large;
}

.list_element
{
    margin-bottom: 1em;
}