body
{
    margin: 2em;
}

#hide_btn, #show_btn
{
    display: flex;
    margin-bottom: 1em;
    border: 0.1em solid black;
    background-color: lightgray;
    transition: background-color 0.25s ease-out;
    font-weight: bold;
}

#btn_1:hover
{
    background-color: darkgray;
    transition: background-color 0.25s ease;
}